<h1>Listing official_profiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Job position</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @official_profiles.each do |official_profile| %>
  <tr>
    <td><%= official_profile.name %></td>
    <td><%= official_profile.job_position_id %></td>
    <td><%= official_profile.description %></td>
    <td><%= link_to 'Show', official_profile %></td>
    
  </tr>
<% end %>
</table>

<br />

