<!-- BEGIN .breaking-news -->
<div class="breaking-news">
	
	<div class="breaking-title"><span class="breaking-icon">&nbsp;</span><b>Breaking News</b><div class="the-corner"></div></div>

	<div class="breaking-block">
		<ul>
			<li><%= link_to News.latest_random.name   %><span><%= News.latest_random.description %></span></li>
		
		</ul>
	</div>
	
	<div class="breaking-controls"><a href="#" class="breaking-arrow-left">&nbsp;</a><a href="#" class="breaking-arrow-right">&nbsp;</a><div class="clear-float"></div><div class="the-corner"></div></div>
	
<!-- END .breaking-news -->
</div>