<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Districts</h1>
	 <% @districts.each	do |dist| %>
	 	 <li> <%= dist.name %> </li>
 <hr>

<h1>Mandals</h1>
	 <%= @mandals %>

</body>
</html>