<!-- BEGIN .footer -->
<div class="footer">
	
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
		
	<!-- breaking news parital loads here -->
		  <%= render "static/breakingnews" %>
	<!-- breaking news parital loads here -->


		<!-- BEGIN .footer-content -->
		<div class="footer-content">
			
			<%= render "layouts/internal_footer" %>
			
			<div class="left">&copy; 2013 Copyright <b>iLOGICAGLOBAL</b>. All Rights reserved.</div>
			
			<div class="right">Designed by <a href="http://google.com/" target="_blank"><img src="/assets/logo.pg" alt="" /></a></div>
			
			<div class="clear-float"></div>
			
		<!-- END .footer-content -->
		</div>

		
	<!-- END .wrapper -->
	</div>
	
<!-- END .footer -->
</div>