 <div class="social-icons-float">

              <span class="soc-header">Share</span>

              <span class="social-icon">
                <span class="social-count">293<span class="social-arrow">&nbsp;</span></span>
                <a href="#" class="social-button" style="background:#495fbd;"><span class="icon-text">&#62220;</span><font>Share</font></a>
              </span>

              <span class="social-icon">
                <span class="social-count">34<span class="social-arrow">&nbsp;</span></span>
                <a href="#" class="social-button" style="background:#43bedd;"><span class="icon-text">&#62217;</span><font>Tweet</font></a>
              </span>

              <span class="social-icon">
                <span class="social-count">29<span class="social-arrow">&nbsp;</span></span>
                <a href="#" class="social-button" style="background:#df6149;"><span class="icon-text">&#62223;</span><font>+1</font></a>
              </span>

              <span class="social-icon">
                <span class="social-count">18<span class="social-arrow">&nbsp;</span></span>
                <a href="#" class="social-button" style="background:#d23131;"><span class="icon-text">&#62226;</span><font>Share</font></a>
              </span>

              <span class="social-icon">
                <span class="social-count">170<span class="social-arrow">&nbsp;</span></span>
                <a href="#" class="social-button" style="background:#264c84;"><span class="icon-text">&#62232;</span><font>Share</font></a>
              </span>

</div>